<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "Default Title" %></title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
    <span>Hi, <%= current_user.email %></span>
    <%= image_tag(current_user.avatar.url, class: 'img-circle', size: "50x50")  %>
    <%= link_to "Profile", user_path(current_user.to_param) %>
    <%= link_to 'Settings', edit_user_registration_path %>
    <%= link_to 'Output', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to "Sign in", "#sign_in", "data-toggle" => "modal", :class => 'btn btn-primary btn-lg' %>
    <%= link_to "Sign up", "#sign_up", "data-toggle" => "modal", :class => 'btn btn-primary btn-lg' %>
    <%= render 'shared/sign_in' %>
    <%= render 'shared/sign_up' %>
<% end %>

<ul>
  <li><%= link_to "Home",    root_path %></li>
</ul>

<%= yield %>

</body>
</html>
